.mover {
    height: 50px;
    width: 50px;
    background: yellow;
    transition: transform .2s;
}
.pane {
    height: 100%;
}
html {
    touch-action: none;
}
#root {
    margin: 100px;
    height: calc(100% - 200px);
    border: 1px solid white;
}
#pane0 {
    background: #567;
}
#pane1 {
    background: #675;
}
#pane2 {
    background: #756;
}
#pane3 {
    background: #576;
}
#pane4 {
    background: #657;
}
#pane5 {
    background: #765;
}
